## Python Constants, Variables, Printing, Arithmetic

In [5]:
3

def bassam():
    print ("Bassam is gay")

bassam()

Bassam is gay

In [2]:
3+3

6

In [3]:
x=3+3

In Notebook, simply typing the name of a variable will print its value<br>
But in Python code written in a file outside of Notebook/Python console, you must use the print function

In [4]:
x

6

In [5]:
print(x)

6

In [6]:
type(x)

int

Sometimes it's useful to find out the type of a variable (since you don't declare the type of a variable at the outset)

In [7]:
y=x+6

In [8]:
print(y)

12

In [2]:
a=2
p=2*2

In [3]:
print(a,p)

2 4

You can string together variables, constants, and literals in a print call<br>
Literals can be enclosed in single or double quotes, makes no difference

In [5]:
print(a,',',p)
print(a,",",p)

2 , 4
2 , 4

Which means, to literally print a single quote you will need to enclose it in double quotes, and vice versa

In [6]:
print("'")

'

In [7]:
print('"')

"

Division can be done in one of two ways, with a real number result, or an integer result (fractional part truncated)

In [8]:
3/2 # real number result

1.5

In [10]:
3 // 2  # integer result, fractional part truncated

1

In [74]:
3/0

ZeroDivisionError: division by zero

In [14]:
15 % 4 # modulus function, gives remainder of 15 divided by 4

3

Modulus can be used on real numbers as well, and divisor can be an integer or real number

In [14]:
7.4 % 5

2.4000000000000004

In [19]:
2.4 % 1.2

0.0

In [20]:
2.4 % 1.1

0.19999999999999973

---

### Arithmetic expressions, math functions

In [22]:
2 + 3 * 5  # * (and /) precede + (and -)

17

In [23]:
(2+3) * 5

25

In [24]:
3 ** 2 # power

9

In [26]:
3 ** 2.2

11.211578456539659

In [27]:
-3 ** 3

-27

In [28]:
-3.2 ** 1.5

-5.7243340223994625

In [38]:
3 ** -2

0.1111111111111111

**Casting**

In [75]:
# real to int
x = int(5.5)
x

5

**Using the math module**

In [31]:
import math

print(math.pow(3,2))
print(math.pow(3,3))

9.0
27.0

In [33]:
print(math.pow(-3.2,2))

10.240000000000002

In [36]:
print(math.pow(-3.2,1.5))

ValueError: math domain error

For math.pow(x,y), if x is negative and y is not an integer, then pow is undefined and raises an error.<br>
See Help -> Python Reference -> math.pow

---

### Strings

In [20]:
wr = 'wrangle'
print(wr)

wrangle

You can create a multi-line string using three double quotes as delimiters

In [21]:
# multi line string with three double quotes
multi_line = """line 1,
line2, and
line 3"""
print(multi_line)

line 1,
line2, and
line 3

Alternatively, you can use the newline character \n to introduce new lines, like in Java or C

In [22]:
multi_line

'line 1,\nline2, and\nline 3'

In [23]:
lines = 'line 1,\nline2, and\nline 3'
print(lines)

line 1,
line2, and
line 3

In [39]:
lines2 = 'line 1
line2, and
line3'

SyntaxError: EOL while scanning string literal (<ipython-input-39-1ccfeb8948d6>, line 1)

And you can use the tab character \t to introduce tabs

In [24]:
tabbed_str = 'before tab\tand after lab'

In [25]:
print(tabbed_str)

before tab	and after lab

In [26]:
tabbedStr = 'before\tafter'
print(tabbedStr)

before	after

Concatenate strings using +

In [69]:
print("cs" + "210")

cs210

In [70]:
print("cs" + 210)

TypeError: can only concatenate str (not "int") to str

But you can't directly concatenate non-string parts - you need to use str function to convert to string first

In [71]:
print("cs"+str(210))

cs210

In [72]:
cs210 = "cs" + str(210)
cs210

'cs210'

When you use a number as first operand for +, it thinks you are adding (not concatenating to a string)

In [73]:
x = 5 + 'y'
x

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Formatting the output**

Using the format function

In [41]:
m=15
n=10
print("{0}/{1} = {2}".format(m,n,m/n))

15/10 = 1.5

Using the f-string

In [42]:
print(f'{m}/{n} = {m/n}')

15/10 = 1.5

**Interpreting number appearing as string**

In [76]:
x=int('5')
print(x)
type(x)

5

int

In [77]:
y = float('-5.5')
print(y)
type(y)

-5.5

float

In [80]:
z = double('8.66667777')
print(z)
type(z)

NameError: name 'double' is not defined

There is no double type in Python, but float is equivalent to double

In [49]:
float('abc')

ValueError: could not convert string to float: 'abc'

In [51]:
abctype = type('abc')
x = 5
xtype = type(x)
print(abctype,',',xtype)

<class 'str'> , <class 'int'>

In [52]:
print(type('abc') == type(x))

False

---

### Boolean values and expressions

In [43]:
tr = True
fl = False
print(tr,',',fl)

True , False

In [31]:
type(tr)

bool

In [44]:
bool_list = [True, False, False, True, True]
print(bool_list)

[True, False, False, True, True]

In [45]:
2 == 3

False

In [46]:
2 != 3

True

In [56]:
num1 = 9
num2 = -10
num3 = 15

In [57]:
res = num3 > 0
print(res)

True

In [58]:
num1 > 0 and num2 > 0

False

In [59]:
num1 > 0 or num2 > 0

True

In [60]:
num1 < 0 or num3 < 0

False

In [61]:
not num1 < 0

True

In [62]:
not (num1 < 0)

True

Precedence of boolean operators: not first, then and, then or in that order

In [63]:
num1 = 9
num2 = -10
num3 = 15

In [66]:
not num1 < 0 or num2 < 0

True

In [67]:
not (num1 < 0 or num2 < 0)

False

In [55]:
num1 < 0 and num3 < 0 or num2 < 0

True

In [68]:
num1 < 0 and (num3 < 0 or num2 < 0)

False

---

### Functions

In [82]:
# function definition
def double(x):
    return x*2

In [83]:
# call the function
a = 5
adoub = double(a)
doub7 = double(7)
print(adoub,',',doub7)

10 , 14